.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.alicenter {
  align-items: center;
}
.alistart {
  align-items: flex-start;
}
.aliend {
  align-items: flex-end;
}

.jucenter {
  justify-items: center;
}
.justart {
  justify-items: start;
}
.juend {
  justify-items: end;
}
